################################################################################
## Oracle Database 23ai Software-Only Install Response File
## Managed by Ansible — db-sre lab
## Schema: v23.0.0 (new short-name format for 23ai)
################################################################################

oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v23.0.0

installOption=INSTALL_DB_SWONLY
INVENTORY_LOCATION={{ oracle_inventory_dir }}
UNIX_GROUP_NAME=oinstall
ORACLE_HOME={{ oracle_db_home }}
ORACLE_BASE={{ oracle_base }}
installEdition={{ oracle_edition }}

OSDBA_GROUP=dba
OSOPER_GROUP=oinstall
OSBACKUPDBA_GROUP=backupdba
OSDGDBA_GROUP=dgdba
OSKMDBA_GROUP=kmdba
OSRACDBA_GROUP=racdba

clusterNodes={{ groups['oracle_rac'] | join(',') }}

executeRootScript=false
